#message-h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    span {
        color: #009944;
    }
}
.message-wrap {
    position: relative;
    margin-bottom: 60px;
    padding: 40px;
    .message-tri {
        position: absolute;
        top: 0;
        left: 0;
    }
}

// slider
.staff-intro {
    position: relative;
    top: -20px;
    #message-h3 {
        margin: 0;
    }
    .lead {
        margin-top: 20px;
        font-size: 1.6rem;
        text-align: center;
        color: #828282;
    }
}
.staff-slides {
    .slider {
        margin-top: 30px;
        .slide {
            margin: 15px;
            border: solid 1px #ccc;
            box-shadow: 0px 2px 5px 2px rgba(140, 140, 140, 0.4);
            .list-img {
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .list-group {
                padding: 20px 15px 20px;
                h4 {
                    font-size: 2.2rem;
                    letter-spacing: 3px;
                    span {
                        position: relative;
                        top: -2px;
                        font-size: 1.2rem;
                        font-weight: bold;
                        font-family: 'Noto Sans', sans-serif;
                        letter-spacing: 1px;
                        color: #bbb;
                    }
                }
                .catch {
                    margin-top: 30px;
                    font-size: 1.3rem;
                    line-height: 1.3;
                    letter-spacing: 1.4px;
                    color: #009944;
                }
                .w-position {
                    margin-top: 30px;
                    font-size: 1rem;
                }
            }
        }
    }
    .slick-slide {
        transition: .3s ease;
        transform: scale(.85);
    }
    .slick-current {
        transform: scale(1);
    }
    .slick-prev, .slick-next {
        bottom: 0;
        width: 50px;
        height: 50px;
        margin-top: 300px;
        background: linear-gradient(to right, #00bbcc, #99cc00);
        border-radius: 30px;
        z-index: 900;
        &::before {
            display: none;
        }
        &::after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            margin-left: 18px;
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    .slick-prev {
        left: 45%;
        &::after {
            margin-left: 20px;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }
    .slick-next {
        right: 45%;
    }
}

.members-mess {
    margin-top: 200px;
}
.member-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .member-face {
        margin: 20px 0 0 20px;
    }

    .member-pro {
        width: 68%;

        h4 {
            margin-bottom: 40px;
            font-size: 1.2rem;
            font-weight: bold;
            color: #009944;
        }

        .member-job {
            margin-bottom: 10px;
            font-size: 1.5rem;
        }

        .staff-name {
            position: relative;
            font-size: 2.6rem;

            &::after {
                content: '';
                display: block;
                position: absolute;
                right: -40px;
                width: 80%;
                height: 1px;
                background: linear-gradient(to right, #00bbcc, #99cc00);
            }

        }
        .member-text {
            margin-top: 50px;

            strong {
                font-size: 1.8rem;
                font-weight: bold;
            }

            p {
                margin: 26px 0;
                line-height: 2rem;
            }

        }
    }
}

.presi-mess {

    .content-wrap {
        width: 80%;
    }

    .presi-img {
        margin: 0 auto;
    }

    .presi-message {
        position: relative;

        img {
            position: absolute;
            top: -30px;
        }

        h4 {
            position: relative;
            margin: 60px 0 60px 60px;
            font-size: 2.2rem;
            font-weight: bold;
            z-index: 900;
        }

        .pre-q {
            margin: 0 0 30px 0;
            font-size: 2rem;
            font-weight: bold;
            color: #828282;
            letter-spacing: 0.4rem;

            &::after {
                content: '';
                display: block;
                margin-top: 15px;
                width: 100%;
                height: 1px;
                background: linear-gradient(to right, #00bbcc, #99cc00);
            }

        }

        .pre-mess-inner {
            line-height: 3rem;
        }

    }
}

// btn
#int-btn {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 231px;
    height: 61px;
    border-radius: 28px;
    background: linear-gradient(to bottom, #00bbcc, #99cc00);
    box-shadow: 0px 2px 5px 2px rgba(140, 140, 140, 0.4);

    .btn-inner {
        background: #fff;
        width: 225px;
        height: 55px;
        margin: 0 auto;
        border-radius: 26px;
    }

    a {
        text-align: center;
        display: block;
        margin-left: 5px;
        padding: 0.8em;
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        line-height: 4rem;
        text-decoration: none;
        background: #009944;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn-arrow {
        position: absolute;
        display: flex;
        align-items: center;
        top: 25%;
        left: 5%;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background: linear-gradient(to bottom, #00bbcc, #99cc00);

        img {
            transform: translateX(35%);
        }
    }
}