// question（質問コーナー）

.question-content {
    padding: 80px 0px;
    .question-wrap {
        .member-list {
            li {
                display: flex;
                align-items: center;
                width: 95%;
                margin: 0 auto;
                padding: 20px;
                .list-img {
                    width: 200px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .list-group {
                    margin-left: 20px;
                    .number {
                        font-weight: bold;
                        font-size: 1.4rem;
                    }
                    h3 {
                        margin-top: 30px;
                        font-size: 2.6rem;
                        font-weight: bold;
                    }
                    .w-position {
                        margin-top: 15px;
                        font-size: 1.5rem;
                    }
                    .intro {
                        margin-top: 50px;
                        font-size: 1.6rem;
                    }
                }
            }
        }
        .slick-prev, .slick-next {
            bottom: 0;
            &::before {
                display: none;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: 60px;
                height: 60px;
                background: url(/images/common/slider_arrow.svg) no-repeat;
            }
        }
        .slick-prev {
            margin-top: -35px;
        }
        .slick-next {
            transform: rotate(-180deg);
        }
        .slide-dots {
            display: flex;
            justify-content: center;
            li {
                position: relative;
                width: 20px;
                margin: 0;
                padding: 0;
                button {
                    opacity: 0;
                }
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 10px;
                    height: 10px;
                    margin: 0 auto;
                    background: #99cc00;
                    border-radius: 10px;
                }
            }
        }
        .chat-space {
            margin-top: 30px;
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                margin-bottom: 30px;
                background: linear-gradient(to bottom,#00bbcc,#99cc00);
            }
            .chat-space-inner {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                background: linear-gradient(to bottom, #bbeae3 ,#cae583);
                border-radius: 10px;
                ul {
                    position: relative;
                    width: 100%;
                    padding: 30px;
                    .employee, .questioner {
                        display: flex;
                        margin: 20px 0;
                        img {
                            display: block;
                            width: 70px;
                            height: 70px;
                            background: #ccc;
                            border-radius: 40px;
                        }
                        .callout {
                            position: relative;
                            width: 300px;
                            padding: 15px;
                            margin-left: 30px;
                            font-size: 1.5rem;
                            line-height: 1.6;
                            background: #fff;
                            border-radius: 10px;
                            span {
                                font-weight: bold;
                            }
                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 30px;
                                border-top: 10px solid transparent;
                                border-bottom: 10px solid transparent;
                            }
                        }
                    }
                    .employee {
                        .callout {
                            &::after {
                                left: -20px;
                                border-right: 30px solid #fff;
                            }
                        }
                    }
                    .questioner {
                        .callout {
                            margin: 0 0 0 auto;
                            &::after {
                                right: -20px;
                                border-left: 30px solid #fff;
                            }
                        }
                    }
                }
                .btn-arrow {
                    width: 50px;
                    height: 50px;
                    margin: 0 auto 20px;
                    padding: 1px;
                    background: linear-gradient(to bottom,#00bbcc,#99cc00);
                    border-radius: 30px;
                    &:hover {
                        opacity: 0.8;
                    }
                    .inner {
                        position: relative;
                        width: 50px;
                        height: 50px;
                        background: #fff;
                        border-radius: 30px;
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 16px;
                            left: 0;
                            right: 0;
                            width: 10px;
                            height: 10px;
                            margin: 0 auto;
                            border-right: 2px solid #00bbcc;
                            border-bottom: 2px solid #00bbcc;
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }
    .question-veteran {
        margin-top: 80px;
    }
}