.hero-area {
    position: relative;
    width: 100%;
    height: 743px;
    .hero-image {
        float: right;
        position: relative;
        z-index: 900;
    }
    .mv-catch {
        position: absolute;
        top: 460px;
        left: 100px;
        width: 700px;
        padding: 40px 0;
        z-index: 991;
        background: #fff;
        opacity: 0.8;
        .main-catch {
            text-align: center;
            font-size: 4rem;
            font-family: 'Noto Sans', sans-serif;
            font-weight: bold;
            letter-spacing: 0.3rem;
            font-weight: bold;
        }
        .sub-catch {
            margin: 15px 0 0 0;
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
        }
    }
    .mv-box {
        position: absolute;
        top: 310px;
        width: 635px;
        height: 400px;
        margin-top: 100px;
        background: linear-gradient(to bottom,#00bbcc,#99cc00) bottom left;
    }
}
.company-info {
    margin-top: 60px;
}
.top-content {
    .phil-col {
        position: relative;
        padding: 80px 140px 200px;
        background: #eee;
        .phil {
            font-size: 6rem;
            font-weight: bold;
            font-family: 'Noto Sans', sans-serif;
            letter-spacing: 0.7rem;
            color: #c6c5c5;
        }
        .text-deco {
            margin: 50px 0;
            width: 20px;
            height: 5px;
            background: #c6c5c5;
        }
        h2 {
            font-size: 3rem;
            line-height: 5rem;
            letter-spacing: 0.7rem;
            font-weight: bold;
            span {
                background: linear-gradient(to bottom,#00bbcc,#99cc00);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .p-text {
            position: relative;
            margin: 86px 0 0 0;
            width: 500px;
            font-size: 1.6rem;
            letter-spacing: 1.2px;
            line-height: 3.2rem;
            z-index: 990;
        }
        .p-box {
            position: absolute;
            top: 380px;
            left: 265px;
            width: 605px;
            height: 307px;
            z-index: 900;
            background: linear-gradient(to bottom,#00bbcc,#99cc00);
        }
        .p-image {
            position: absolute;
            top: 120px;
            right: 130px;
            z-index: 910;
        }
    }
    .info-col {
        h3 {
            margin: 88px auto;
            text-align: center;
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 0.7rem;
            span {
                background: linear-gradient(to bottom,#00bbcc,#99cc00);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            width: 75%;
            margin: 0 auto;
            li {
                position: relative;
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 400px;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: bold;
                    line-height: 4rem;
                    -ms-transform: translate(-50%,-50%);
                    -webkit-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                    color: #fff;
                    z-index: 900;
                }
                .info-deco {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background: linear-gradient(to bottom,#00bbcc,#99cc00);
                    opacity: 0.7;
                    z-index: 890;
                }
                #info-deco01 {
                    position: absolute;
                    top: 50px;
                    left: -60px;
                }
                #info-deco02 {
                    position: absolute;
                    top: 180px;
                    left: -30px;
                }
                #info-deco03 {
                    position: absolute;
                    top: 40px;
                    right: -30px;
                }
            }
        }
    }
    .det-btn {
        display: flex;
        align-items: center;
        margin: 100px auto 0;
        width: 231px;
        height: 61px;
        border-radius: 28px;
        background: linear-gradient(to bottom,#00bbcc,#99cc00);
        box-shadow: 0px 2px 5px 2px rgba(140,140,140,0.4);
        .btn-inner {
            background: #fff;
            width: 225px;
            height: 55px;
            margin: 0 auto;
            border-radius: 26px;
        }
        a {
            text-align: center;
            display: block;
            padding: 0.8em;
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
            line-height: 4rem;
            text-decoration: none;
            background: #009944;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}