.hero-area {
    position: relative;
    width: 100%;
    height: 765px;
    animation: fadeIn 3s ease 0s 1 normal forwards;
    #mv-slider {
        position: relative;
        img {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .hero-image {
        float: right;
        position: relative;
        z-index: 900;
    }
    .mv-catch {
        position: absolute;
        top: 500px;
        left: 100px;
        width: 700px;
        padding: 40px 0;
        z-index: 991;
        background: #fff;
        opacity: 0.8;
        .main-catch {
            text-align: center;
            font-size: 4rem;
            font-family: 'Noto Sans', sans-serif;
            font-weight: bold;
            letter-spacing: 0.3rem;
            font-weight: bold;
        }
        .sub-catch {
            margin: 15px 0 0 0;
            text-align: center;
            font-size: 1.8rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
        }
    }
    .mv-box {
        position: absolute;
        top: 330px;
        width: 635px;
        height: 430px;
        margin-top: 100px;
        background: linear-gradient(to bottom,#00bbcc,#99cc00);
        // background: linear-gradient(135deg, #00bbcc, #99cc00);
        // background-size: 300% 300%;
        // animation: grad-wave 10s ease 0s infinite normal forwards;
    }
}
.tag-text {
    display: none;
}
.company-info {
    margin-top: 60px;
}
.top-content {
    .phil-col {
        position: relative;
        padding: 120px 140px 150px;
        background: #eee;
        .phil {
            font-size: 6rem;
            font-weight: bold;
            font-family: 'Noto Sans', sans-serif;
            letter-spacing: 0.7rem;
            color: #c6c5c5;
        }
        .text-deco {
            margin: 50px 0;
            width: 20px;
            height: 5px;
            background: #c6c5c5;
        }
        h2 {
            position: relative;
            font-size: 3rem;
            line-height: 5rem;
            letter-spacing: 0.7rem;
            font-weight: bold;
            z-index: 990;
            span {
                background: linear-gradient(to bottom,#00bbcc,#99cc00);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .p-text {
            position: relative;
            margin: 80px 0 0 0;
            width: 500px;
            font-size: 1.6rem;
            letter-spacing: 1.2px;
            line-height: 3.2rem;
            z-index: 990;
        }
        .p-box {
            position: absolute;
            top: 460px;
            left: 265px;
            width: 605px;
            height: 310px;
            z-index: 900;
            background: linear-gradient(to bottom,#00bbcc,#99cc00);
        }
        .p-image {
            position: absolute;
            top: 120px;
            right: 130px;
            z-index: 910;
        }
    }
    .info-col {
        h3 {
            margin: 88px auto;
            text-align: center;
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 0.7rem;
            span {
                background: linear-gradient(to bottom,#00bbcc,#99cc00);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            width: 75%;
            margin: 0 auto;
            li {
                position: relative;
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 400px;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: bold;
                    line-height: 4rem;
                    -ms-transform: translate(-50%,-50%);
                    -webkit-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                    color: #fff;
                    z-index: 900;
                }
                .info-deco {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background: linear-gradient(to bottom,#00bbcc,#99cc00);
                    opacity: 0.7;
                    z-index: 890;
                }
                #info-deco01 {
                    position: absolute;
                    top: 50px;
                    left: -60px;
                }
                #info-deco02 {
                    position: absolute;
                    top: 180px;
                    left: -30px;
                }
                #info-deco03 {
                    position: absolute;
                    top: 40px;
                    right: -30px;
                }
            }
        }
    }
    .det-btn {
        display: flex;
        align-items: center;
        margin: 100px auto 100px;
        width: 231px;
        height: 61px;
        border-radius: 28px;
        background: linear-gradient(to bottom,#00bbcc,#99cc00);
        box-shadow: 0px 2px 5px 2px rgba(140,140,140,0.4);
        .btn-inner {
            background: #fff;
            width: 225px;
            height: 55px;
            margin: 0 auto;
            border-radius: 26px;
        }
        a {
            text-align: center;
            display: block;
            padding: 0.8em;
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
            line-height: 4rem;
            text-decoration: none;
            background: #009944;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .concept {
        height: 860px;
        background: #eee;
        .content-catch {
            text-align: center;
            h2 {
                padding: 200px 0 40px 0;
                font-size: 3rem;
                font-weight: bold;
                letter-spacing: 0.3rem;
                background: url(../images/top/h2-concept-deco@2x.png) no-repeat;
                background-size: 112px;
                background-position: 32% 75%;
                span {
                    color: #009944;
                }
            }
            p {
                margin: 0 0 80px 0;
                font-size: 1.8rem;
                font-weight: bold;
            }
            h3 {
                margin: 0 0 50px 0;
                font-size: 2rem;
                font-weight: bold;
            }
        }
        .concept-inner {
            width: 85%;
            margin: 0 auto;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    position: relative;
                    .bg-sankaku {
                        position: absolute;
                        top: 12px;
                        .inner {
                            overflow: hidden;
                            position: relative;
                            left: -34px;
                            width: 192px;
                            height: 385px;
                            // background: #f6f6f6;
                            transform: rotate(135deg);
                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 107px;
                                left: -115px;
                                width: 225px;
                                height: 225px;
                                background: linear-gradient(to bottom,#00bbcc,#99cc00);
                                opacity: 0.8;
                                transform: rotate(-135deg);
                            }
                        }
                    }
                    .concept-text {
                        position: absolute;
                        left: 20px;
                        bottom: 30px;
                        font-size: 1.8rem;
                        font-weight: bold;
                        letter-spacing: 0.2rem;
                        color: #fff;
                    }
                }
            }
        }
    }
    .business-content {
        .business-catch {
            text-align: center;
            h2 {
                margin: 100px auto 0px;
                font-size: 3rem;
                font-weight: bold;
                letter-spacing: 0.3rem;
                span {
                    color: #009944;
                }
            }
            p {
                margin: 30px 0 20px 0;
                font-size: 1.6rem;
            }
        }
        .bc-img {
            position: relative;
            display: block;
            width: 60%;
            margin: 50px auto 0;
            box-shadow: 0 0 8px #ccc;
            img {
                width: 100%;
            }
            .bc-shadow {
                position: absolute;
                top: 20px;
                left: 20px;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom,#00bbcc,#99cc00);
                z-index: -1;
            }
        }
        .det-btn {
            margin: 70px auto 80px;
        }
    }
    .lower-links {
        padding-top: 40px;
        padding-bottom: 120px;
        background: #eee;
        .link-col {
            display: flex;
            align-items: center;
            width: 75%;
            margin: 110px auto 0;
            .link-text {
                width: 500px;
                height: 314px;
                background: linear-gradient(to bottom,#00bbcc,#99cc00);
                h3 {
                    margin: 60px 0 20px 30px;
                    font-size: 3rem;
                    font-weight: bold;
                    letter-spacing: 0.4rem;
                    color: #fff;
                }
                .link-deco {
                    width: 18px;
                    height: 5px;
                    margin: 0 0 20px 30px;
                    background: #fff;
                }
                p {
                    margin: 0 0 0 30px;
                    font-size: 1.6rem;
                    letter-spacing: 0.2rem;
                    color: #fff;
                }
                .link-det {
                    margin: 100px 0 0 0;
                    a {
                        font-size: 1.4rem;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
            .link-img {
                box-shadow: 0 0 8px rgb(146, 146, 146);
            }
        }
    }
}

#entry-btn,#contact-btn {
    opacity: 0;
    transition: 0.2s;
    position: fixed;
    top: 45%;
    right: 20px;
    z-index: 950;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    background: linear-gradient(to bottom,rgba(150,234,16, .9),rgba(79,220,220, .9));
    box-shadow: 0px 2px 5px 2px rgba(140, 140, 140, 0.4);
    border-radius: 30px;
    a {
        font-size: 1.4rem;
        font-weight: bold;
        font-family: 'Noto Sans', sans-serif;
        text-decoration: none;
        letter-spacing: 1.2px;
        color: #fff;
    }
}
#contact-btn {
    margin-top: 80px;
}