#service-content {
    width: 100%;
    .service-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            width: 45%;
            margin: 0 0 0 10px;
            padding: 12px 0 24px 0;
            font-weight: bold;
            &::after {
                content: "";
                display: block;
                margin: 30px 0 0 0;
                height: 1px;
                width: 100%;
                background: linear-gradient(to right,#00bbcc,#99cc00);
            }
        }
    }
    p {
        font-size: 1.4rem;
        margin-left: 8px;
    }
}
.portfolio {
    width: 85%;
    margin: 80px auto;
    .content-catch {
        p {
            font-size: 1.5rem;
        }
    }
    .port-col {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            width: 33.3%;
             margin: 40px 0;
            figure {
                position: relative;
                .port-img {
                    margin-bottom: 30px;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 54px;
                        right: 43px;
                        width: 350px;
                        height: 188px;
                        background: linear-gradient(to bottom,#00bbcc,#99cc00);
                        z-index: -1;
                    }
                }
                figcaption {
                    a {
                        margin: 40px 0;
                        font-size: 1.8rem;
                        font-weight: bold;
                        text-decoration: none;
                        letter-spacing: 1px;
                        color: #000;
                        span {
                            display: inline-block;
                            margin-top: 5px;
                            font-size: 1.4rem;
                            font-weight: normal;
                            font-family: 'Noto Sans', sans-serif;
                            letter-spacing: 0.5px;
                            color: #828282;
                        }
                    }
                }
            }
        }
    }
}
.experience {
    p {
        line-height: 3rem;
    }
    .det-btn {
        position: relative;
        display: flex;
        align-items: center;
        width: 231px;
        height: 61px;
        margin: 0 auto;
        border-radius: 28px;
        background: linear-gradient(to bottom,#00bbcc,#99cc00);
        box-shadow: 0px 2px 5px 2px rgba(140,140,140,0.4);
        .btn-inner {
            background: #fff;
            width: 225px;
            height: 55px;
            margin: 0 auto;
            border-radius: 26px;
        }
        a {
            text-align: center;
            display: block;
            padding: 0.8em;
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
            line-height: 4rem;
            text-decoration: none;
            background: #009944;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
.select {
    .det-btn {
        position: relative;
        display: flex;
        align-items: center;
        width: 231px;
        height: 61px;
        margin: 0 auto;
        border-radius: 28px;
        background: linear-gradient(to bottom,#00bbcc,#99cc00);
        box-shadow: 0px 2px 5px 2px rgba(140,140,140,0.4);
        .btn-inner {
            background: #fff;
            width: 225px;
            height: 55px;
            margin: 0 auto;
            border-radius: 26px;
        }
        a {
            text-align: center;
            display: block;
            padding: 0.8em;
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 0.3rem;
            line-height: 4rem;
            text-decoration: none;
            background: #009944;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}