footer.footer
    .footer-corp
        h1.footer_logo
            img(src="images/common/np_logo.svg", alt="logo" width="180px")
        .det-btn
            .btn-inner
                a(href="#") 弊社サイトへ
            .btn-arrow
                img(src="images/common/footer-arrow.png", alt="矢印",width="20px")
    p#copyrights ©︎NEXTPAGE CO. LTD