footer.footer
    .footer-corp
        h1.footer-logo
            img(src="images/common/np_logo.svg", alt="logo")
            p 2021年度採用サイト
        .det-btn
            .btn-inner
                a(href="#") 弊社サイトへ
            .btn-arrow
                img(src="images/common/footer-arrow.svg", alt="矢印")
    p#copyrights ©︎NEXTPAGE CO. LTD