footer.footer
    .footer-corp
        h1.footer-logo
            img(src="images/common/np_logo.svg", alt="logo")
            p 2021年度採用サイト
        .det-btn
            .btn-inner
                a(href="#") 弊社サイトへ
            .btn-arrow
                img(src="images/common/footer-arrow.svg", alt="矢印")
        .top-back
            a(href="#")
                picture
                    source(media="(max-width: 768px)" srcset="images/common/btn_page-top_sp.svg")
                    img(src="images/common/btn_page-top.svg", alt="top",width="68px")
    p#copyrights ©︎NEXTPAGE CO. LTD