header.header
    h1.header-logo
        a(href="#")
            img(src="images/common/np_logo.png", alt="logo")
    nav.global-nav
        ul
            li
                a(href="#") 会社情報
            li
                a(href="#") 業務内容
            li
                a(href="#") インターンシップ
            li
                a(href="#") 募集要項
            li
                a(href="#") メッセージ
            li
                a(href="#")
                    img(src="images/common/icon_facebook_white@2x.png", alt="facebook",width="8px")
            li
                a(href="#")
                    img(src="images/common/icon_twitter_white@2x.png", alt="twitter",width="16px")
            li.close
                button.btn-close(type="button") CLOSE
        button.btn-menu(type="button")
            span