header.header
    h1.header-logo
        img(src="", alt="")
    nav.global-nav
        ul
            li.nav-em
                a(href="#") エントリーする
            li.nav-em
                a(href="#") お問い合わせ
            li
                a(href="#") 会社情報
            li
                a(href="#") 業務内容
            li
                a(href="#") 選考の流れ
            li
                a(href="#") 募集要項
            li
                a(href="#") メッセージ
            li.close
                button.btn-close(type="button") CLOSE
        button.btn-menu(type="button")
            span