header.header#tp-header
    h1.header-logo
        a(href="#")
            picture
                source(media="(max-width: 768px)" srcset="images/top/top_np_logo_sp.svg")
                img(src="images/common/np_logo.svg", alt="logo")
    nav.global-nav
        ul#tp-menu
            li.menu-txt
                a(href="company.html") 会社情報
            li.menu-txt
                a(href="work.html") 業務内容
            li.menu-txt
                a(href="intern.html") インターンシップ
                p.under-link
                    a(href="experience.html") インターンシップ体験談
            li.menu-txt
                a(href="require.html") 募集要項
            li.menu-txt
                a(href="message.html") メッセージ
                p.under-link
                    a(href="question.html") 質問コーナー
            li.sns.fb
                a(href="#")
                    img(src="images/common/icon_facebook_color.svg", alt="facebook",width="8px")
            li.sns.twit
                a(href="#")
                    img(src="images/common/icon_twitter_color.svg", alt="twitter",width="16px")
            li.close
                button.btn-close(type="button") CLOSE
        button.btn-menu(type="button")
            span