.top-back
    a(href="#")
        picture
            source(media="(max-width: 768px)" srcset="images/common/btn_page-top_sp.svg")
            img(src="images/common/btn_page-top.svg", alt="top",width="68px")