header.under-header
    h1.header-logo
        a(href="index.html")
            img(src="images/common/np_logo.svg", alt="logo",width="175px")
    nav.global-nav
        ul
            li.btn
                a(href="#") お問い合わせ
            li.btn
                a(href="#") エントリー
            li
                a(href="company.html") 会社情報
            li
                a(href="work.html") 業務内容
            li
                a(href="intern.html") インターンシップ
            li
                a(href="detail") 募集要項
            li
                a(href="message") メッセージ
            li.sns
                a(href="#")
                    img(src="images/common/icon_facebook_color@2x.png", alt="facebook",width="8px")
            li.sns
                a(href="#")
                    img(src="images/common/icon_twitter_color@2x.png", alt="twitter",width="16px")
            li.close
                button.btn-close(type="button") CLOSE
        button.btn-menu(type="button")
            span