header.under-header
    h1.header-logo
        a(href="index.html")
            img(src="images/common/np_logo.svg", alt="logo",width="175px")
    nav.global-nav
        ul#menu
            li.btn.bt-contact
                span
                    a(href="contact.html") CONTACT
            li.btn.bt-entry
                span
                    a(href="entry.html") ENTRY
            li.menu-txt.first
                a(href="company.html") 会社情報
            li.menu-txt
                a(href="work.html") 業務内容
            li.menu-txt
                a(href="intern.html") インターンシップ
                p.under-link
                    a(href="experience.html") インターンシップ体験談
            li.menu-txt
                a(href="require.html") 募集要項
            li.menu-txt
                a(href="message.html") メッセージ
                p.under-link
                    a(href="question.html") 質問コーナー
            li.sns.fb
                span
                    a(href="#")
                        img(src="images/common/icon_facebook_color.svg", alt="facebook",width="8px")
            li.sns.twit
                span
                    a(href="#")
                        img(src="images/common/icon_twitter_color.svg", alt="twitter",width="16px")
            li.close
                button.btn-close(type="button") CLOSE
        button.btn-menu(type="button")
            span