<!DOCTYPE html>
html(lang="ja")
    include _includes/_head.pug
        title 会社情報 | 株式会社 NEXPAGE
    body#company
        .wrap
            include _includes/_under-header.pug
            //- 
            .lower-visual
                picture.lv-img
                    source(media="(max-width: 768px)" srcset="images/common/under_visual_sp_01.jpg")
                    img(src="images/common/under_visual_01.jpg", alt="業務")
                .lv-tri
                    img(src="images/common/bg_triangle.png", alt="title")
                .lv-gray
                    img(src="images/common/bg_gray.png", alt="title")
                .lv-text
                    h2.lv-tit Company
                    p.lv-cap 会社概要
            //- 
            .pagelink-wrap
                .pagelink
                    p
                        a(href="#comp-adv") 3つの強み
                .pagelink
                    p
                        a(href="#comp-data") 会社概要
            section.comp-intro#comp-intro
                h3#production Production
                .comp-wrap
                    .comp-img
                        .comp-kei
                            video(autoplay loop muted controls poster="images/company/company_production_keikun.jpg")
                                source(src="https://www.youtube.com/watch?v=KPRNFvdKg0w&t=5s")
                            //- img(src="images/company/company_production_keikun.jpg", alt="けいくん")
                    .intro-text
                        h3 ネクストページは神戸・東京・京都を中心にクオリティにこだわった制作を行っています。
                        p 経営理念である「つくる、たのしむ、やくだつ」を、一緒に実現できる仲間を求めて、採用活動を行っています。私たちは将来にわたって、お客様から必要とされる会社でありたいと思っています。私たちの仕事には、様々な分野の専門家が力を合わせるチームプレイが必要不可欠。お客様に、より大きなご満足をご提供するために、チームワークを発揮できるよう、規模を重視した拡大路線をとっています。それぞれ、高い実力を持ったスペシャリストが、抜群のチームワークで仕事をすること。それが、私たちの仕事を進めるうえでの理想形と考えています。
                .shape
                        img(src="images/common/shape_deco.svg", alt="", width="30px")
            section.sect-bg.comp-adv#comp-adv
                .content-wrap
                    .content-catch
                        h3 ネクストページの3つの
                            span 強み
                    table.comp-table
                        tr
                            th
                                span 1
                                | 創造思考
                                .comp-icon
                                    img(src="images/company/icon_strengts_creative.png", alt="icon")
                            td
                                ul
                                    li お客様の要望を聞き、ゼロからものを生み出す仕事。
                                    li 関西トップレベルの制作能力を擁し、誰でも知っている大手企業から、地元企業まで、幅広いホームページを手がけています。
                                    li ホームページはデザインだけでなく、コンテンツ、テクノロジー、マーケティングなど、様々な要素の集合体。映画のような総合芸術に近い、奥の深い仕事。
                        tr
                            th
                                span 2
                                | 社員重視
                                .comp-icon
                                    img(src="images/company/icon_strengths_employee.png", alt="icon")
                            td
                                ul
                                    li 業績がよければ社員に大きく還元します。がんばって、結果を出せば、たくさん賞与がもらえるのが魅力。
                                    li 忘年会などの社内イベントや勉強のための社外セミナーは会社持ち。
                                    li 制作の仕事は長時間労働になりがち。仕事のために体を壊しては元も子もありません。立ち会議や、クリエイターズタイムなど、早く帰るために工夫をしています。
                                    li 今年度年間休日129日予定。プライベートや家族との時間が充実することで、もっと仕事が楽しくなると考えます。
                        tr
                            th
                                span 3
                                | 拡大思考
                                .comp-icon
                                    img(src="images/company/icon_strengts_think.png", alt="icon")
                            td
                                ul
                                    li 増員、拠点を増やすことはもちろん、ホームページ制作の実績を活かした多角化を進めています。
                                    li 海外で働いてみたい人も募集します。
            section.sect-bg.comp-data#comp-data
                .content-wrap
                    .content-catch
                        h3
                            span 会社
                            | 概要
                    .data-col
                        ul.data-ul
                            li
                                h4 会社名
                                p 株式会社ネクストページ
                            li
                                h4 創業
                                p 2003年1月
                            li
                                h4 設立
                                p 2006年9月
                            li
                                h4 資本金
                                p 1000万円
                            li
                                h4 代表者
                                p 藤中 元博
                            li
                                h4 営業時間
                                p 平日 9:30～18:30
                            li
                                h4 事業内容
                                ul.data-inner
                                    li.list-item
                                        p
                                            span [Webサイト制作]
                                            br
                                            | Webデザイン
                                            br
                                            | HTML5・CSS3コーディング
                                            br
                                            | W3C準拠
                                            br
                                            | [CMSサイト構築]
                                            br
                                            | WebRelease 2
                                            br
                                            | Drupal
                                            br
                                            | WordPress
                                            br
                                            | Movable Type
                                    li.list-item
                                        p
                                            span [マルチプラットフォーム]
                                            br
                                            | PC
                                            br
                                            | タブレット
                                            br
                                            | スマートフォン
                                            br
                                            | デジタルサイネージ
                                            br
                                            | [リッチコンテンツ制作]
                                            br
                                            | 360°パノラマnext
                                            br
                                            | ショートアニメ制作
                                            br
                                            | Flashコンテンツ
                                            br
                                            | パーソン・イン・プレゼンテーション
                                            br
                                            | ビデオ撮影・編集
                                    li.list-item
                                        p
                                            span [DTP]
                                            br
                                            | 各種ツール
                                            br
                                            | [Webマーケティング]
                                            br
                                            | サイト分析
                                            br
                                            | SEO
                                            br
                                            | リスティング広告
                                            br
                                            | 行動ターゲティング
                                            br
                                            | ネットワークバナー
                            li
                                h4 取引銀行
                                p 三井住友銀行　三宮支店
                                    br
                                    | ジャパンネットバンク　本店営業部
                            li
                                h4 主要取引先
                                p 株式会社アイブイピー
                                    br
                                    | 株式会社エム・シー・アンド・ピー
                                    br
                                    | 京セラ株式会社
                                    br
                                    | 株式会社ジェイアール西日本コミュニケーションズ
                                    br
                                    | 株式会社つみき
                                    br
                                    | 電通アイソバー株式会社
                                    br
                                    | 株式会社日本SPセンター
                                    br
                                    | 株式会社博報堂プロダクツ
                                    br
                                    | 株式会社フォーデジットデザイン
                                    br
                                    | 株式会社船井総研ITソリューションズ
                                    br
                                    | 株式会社ルート・シー
                                    br
                                    | 株式会社ロフトワーク 他
            //- 
            include _includes/_footer.pug
            //- 