<!DOCTYPE html>
html(lang="ja")
    include _includes/_head.pug
        title エントリー | 株式会社 NEXPAGE
    body#entry
        .wrap
            include _includes/_under-header.pug
            //- 
            .lower-visual
                picture.lv-img
                    source(media="(max-width: 768px)" srcset="images/common/under_visual_sp.jpg")
                    img(src="images/work/work_hero.jpg", alt="業務")
                .lv-tri
                    img(src="images/common/bg_triangle.png", alt="title")
                .lv-gray
                    img(src="images/common/bg_gray.png", alt="title")
                .lv-text
                    h2.lv-tit Entry
                    p.lv-cap エントリー
            //- 
            .contact-info
                p インターンをご希望される方もこちらのフォームにご記入ください。
            //- 
            .sect-bg.contact-wrap
                .content-wrap
                    .content-catch
                        h3
                            span エントリー
                        small ※は必須項目です。
                    .form-signal
                        ul
                            li
                                p 入力
                            li
                                p 確認
                            li
                                p 返信
                    .contact-form
                        form(action="#" method="POST")
                            table
                                tr
                                    th お名前（漢字）※
                                    td
                                        input(type="text",name="name")
                                tr
                                    th お名前（ふりがな）※
                                    td
                                        input(type="text",name="name")
                                tr
                                    th E-mail　※
                                    td
                                        input(type="text",name="mail")
                                tr
                                    th 電話番号
                                    td
                                        input#input-tel(type="text",name="tel")
                                        |
                                        small ※半角英数字でご入力ください
                                tr
                                    th 郵便番号　※
                                    td
                                        input(type="text",name="address")
                                tr
                                    th 住所　※
                                    td
                                        input(type="text",name="address")
                                tr
                                    th 実務経験　※
                                    td.radio-td
                                        label.label-radio
                                            input.radio(type="radio",name="radio")
                                            p ある
                                            input.radio(type="radio",name="radio")
                                            p ない
                                tr
                                    th 年齢 ※
                                    td
                                        input(type="text",name="years")
                                tr
                                    th 学校名
                                    td
                                        input(type="text",name="years")
                                tr
                                    th 学歴/職歴 ※
                                    td
                                        input(type="text",name="years")
                                tr
                                    th 実務経験　※
                                    td.checkbox-td
                                        label.label-check
                                            p
                                                input.checkbox(type="checkbox",name="job")
                                                | Director/ディレクター
                                        label.label-check
                                            p
                                                input.checkbox(type="checkbox",name="job")
                                                | Designer/デザイナー
                                        label.label-check
                                            p
                                                input.checkbox(type="checkbox",name="job")
                                                | Engineer/エンジニア
                                        label.label-check
                                            p
                                                input.checkbox(type="checkbox",name="job")
                                                | まだ決まっていない（相談しながら決めたい）
                                tr
                                    th 希望勤務地 ※
                                    td.checkbox-td
                                        label.label-check
                                            p
                                                input.checkbox(type="checkbox",name="place")
                                                | 神戸
                                        label.label-check
                                            p
                                                input.checkbox(type="checkbox",name="place")
                                                | 東京
                                        label.label-check
                                            p
                                                input.checkbox(type="checkbox",name="place")
                                                | 京都
                                tr
                                    th 資格・使用できるソフト/
                                        br
                                        | 使用言語 ※
                                    td
                                        input#input-large(type="text",name="software")
                                tr
                                    th 制作したサイト/URL
                                    td
                                        input(type="text",name="portfolio")
                                tr
                                    th インターンシップ希望期間
                                    td
                                        input(type="text",name="intern")
                                tr
                                    th ご自身のPC
                                    td.radio-td
                                        label.label-radio
                                            input.radio(type="radio",name="radio")
                                            p ある
                                            input.radio(type="radio",name="radio")
                                            p ない
                            .contact-btn
                                input.submit-btn(type="submit",name="submit",value="確認画面に進む")
            //- 
            include _includes/_topback-btn.pug
            include _includes/_footer.pug