<!DOCTYPE html>
html(lang="ja")
    include _includes/_head.pug
        title 採用情報 | 株式会社 NEXPAGE
        link(rel="stylesheet", href="css/common.css")
        link(rel="stylesheet", href="css/top.css")
    body#top
        .wrap
            include _includes/_header.pug
            .hero-area
                picture.hero-image#mv-slider
                    source(media="(max-width: 768px)" srcset="images/top/top_main-visual_sp_01.jpg")
                    source(media="(max-width: 768px)" srcset="images/top/top_main-visual_sp_02.jpg")
                    source(media="(max-width: 768px)" srcset="images/top/top_main-visual_sp_03.jpg")
                    img(src="images/top/top_main-visual_01.jpg")
                    img(src="images/top/top_main-visual_02.jpg")
                    img(src="images/top/top_main-visual_03.jpg")
                .mv-catch
                    p.main-catch Creating leads to results
                    p.sub-catch 結果につながるものづくりを
                .mv-box
                .scroll-arrow
            .tag-text
                p NEXTPAGE
                    br
                    | 新卒採用ページ
            main.top-content
                section.company-info
                    .phil-col
                        p.phil.sa.sa--up Philosophy
                        .text-deco.sa.sa--up
                        h2.sa.sa--up 私たちと一緒に
                            br
                            span "ものづくり"
                            br.pc-br
                            | を仕事にしませんか？
                        p.p-text.sa.sa--up 私たちの仕事は高度な専門知識を伴ったサービス業です。お客様に優れたWebサイトをご提供するために、高い技術の習得を目指し、日々練磨しています。その磨き抜かれた技術で、お客様に喜んでいただけるサービスとして提供していくことが、私たちの使命です。そして今よりもっと必要とされる会社になれるよう、私たちは日々進んでいきます。
                        .p-box.sa.sa--up
                        .p-image.sa.sa--up
                            img(src="images/top/top_philosophy.jpg", alt="philiosophy")
                    .info-col
                        h3.sa.sa--up 会社
                            span 情報
                        ul.sa.sa--up
                            li
                                img(src="images/top/top_company01.png", alt="company")
                                p 仕事を通じて、会社とともに
                                    br
                                    | 成長したい
                                .info-deco#info-deco01
                            li
                                img(src="images/top/top_company02.png", alt="company")
                                p 楽しくクリエイティブな
                                    br
                                    | 仕事がしたい
                                .info-deco#info-deco02
                            li
                                picture
                                img(src="images/top/top_company03.png", alt="company")
                                p webサービスを見て
                                    br
                                    | お客様を満足させたい
                                .info-deco#info-deco03
                    .det-btn.sa.sa--up(data-sa_margin="-120")
                        .btn-inner
                            a(href="#") もっと見る
                section.concept
                    .content-catch
                        h2.sa.sa--up 「
                            span つく
                            | る、
                            span たのし
                            | む、
                            span やくだ
                            | つ」
                        p.sa.sa--up ネクストページでは、この3つをコンセプトに日々業務に取り組んでいます。
                        h3.sa.sa--up ネクストページの3つの強み
                    .concept-inner.sa.sa--up
                        ul
                            li
                                p.concept-img
                                    picture
                                        source(media="(max-width: 768px)" srcset="images/top/top_concept_creat_sp.jpg")
                                        img(src="images/top/top_concept_creat.jpg", alt="クリエイティブ")
                                .bg-sankaku
                                    .inner
                                p.concept-text クリエイティブ
                            li
                                p.concept-img
                                    picture
                                        source(media="(max-width: 768px)" srcset="images/top/top_concept_employee_sp.jpg")
                                        img(src="images/top/top_concept_employee.jpg", alt="社員")
                                .bg-sankaku
                                    .inner
                                p.concept-text 社員重視
                            li
                                p.concept-img
                                    picture
                                        source(media="(max-width: 768px)" srcset="images/top/top_concept_think_sp.jpg")
                                        img(src="images/top/top_concept_think.jpg", alt="拡大思考")
                                .bg-sankaku
                                    .inner
                                p.concept-text 拡大思考
                section.business-content
                    .business-catch
                        h2.sa.sa--up 業務の
                            span 内容
                        p.sa.sa--up 私たちは、Webサイトの制作を中心に、企画・運営、ネット戦略のコンサルを行っています。
                    .bc-img.sa.sa--up
                        img(src="images/top/top_business.jpg", alt="業務")
                        .bc-shadow
                    .det-btn.sa.sa--up(data-sa_margin="-120")
                        .btn-inner
                             a(href="#") 詳しく見る
                section.lower-links
                    .link-col#link-flow.sa.sa--up
                        .link-text
                            h3 選考の流れ
                            .link-deco
                            p 選考フローや、採用スケジュールなど
                            .link-det
                                p
                                    a(href="#") 詳しく見る
                        .link-img
                            img(src="images/top/top_selection.jpg", alt="選考")
                    .link-col#link-rec.sa.sa--up
                        .link-img
                            img(src="images/top/top_require.jpg", alt="募集要項")
                        .link-text
                            h3 募集要項
                            .link-deco
                            p 募集要項・必須スキルなど
                            .link-det
                                p
                                    a(href="/detail.html") 詳しく見る
                    .link-col#link-message.sa.sa--up
                        .link-text
                            h3 メッセージ
                            .link-deco
                            p 実際の社員の声や代表者メッセージ
                            .link-det
                                p
                                    a(href="/message.html") 詳しく見る
                        .link-img
                            img(src="images/top/top_message.jpg", alt="メッセージ")
            //- 
            include _includes/_footer.pug
                //- include _includes/_topback-btn.pug
            //- 
            //- 
            .follow#entry-btn
                a(href="entry.html")
                    em ENTRY
            .follow#contact-btn
                a(href="contact.html")
                    em CONTACT