<!DOCTYPE html>
html(lang="ja")
    include _includes/_head.pug
        title インターンシップ | 株式会社 NEXPAGE
    body#intern
        .wrap
            include _includes/_under-header.pug
            //-
            .lower-visual
                .lv-img
                    img(src="images/work/work_hero.jpg", alt="業務")
                .lv-tri
                    img(src="images/common/bg_triangle.png", alt="title")
                .lv-gray
                    img(src="images/common/bg_gray.png", alt="title")
                .lv-text
                    h2.lv-tit Internship
                        br
                        | contents
                    p.lv-cap インターンシップ
            //-
            .pagelink-wrap
                .pagelink
                    p
                        a(href="#learn") 体験できること
                .pagelink
                    p
                        a(href="#detail") 募集要項
                .pagelink
                    p
                        a(href="#experience") 体験談
                .pagelink
                    p
                        a(href="") 選考について
            //-
            section.learn.sect-bg#learn
                .content-wrap
                    .content-catch
                        h3 
                            |
                            span 経験
                            | できること・
                            span 学べる
                            | こと
                        p 未経験からでもOK。経験豊富な先輩が、皆さんの成長をお手伝いします。
                    table.comp-table
                        tr
                            th デザイン
                            td 
                                p illustlatarや、photoshopをつかってのwebデザイン制作や、
                                p フライヤーなどの制作。
                        tr
                            th コーディング
                            td 
                                p Wordpressの修正作業や、サイトのレイアウトチェック・修正、
                                p HTML構成などもしてもらいます。
            //-
            section.detail.sect-bg#detail
                .content-wrap
                    .content-catch
                        h3 
                            | 
                            span 募集
                            | 要項
                        p 申し込みは、エントリーフォームのインターンシップ申し込みからご応募ください。
                    table.comp-table
                        tr
                            th 日程
                            td
                                p 随時受付中
                                p ※新卒採用の選考時期など、一部受け入れ不可な場合もあります。ご理解のほどよろしくお願いいたします。
                        tr
                            th 持ち物
                            td
                                p 筆記用具・ノートパソコン
                                p ※ノートパソコンを持参可能な方限定とさせていただきます。
                        tr
                            th その他
                            td 服装も私服でご参加ください。
            //-
            section.experience.sect-bg#experience
                .content-wrap
                    .content-catch
                        h3 
                            | インターンシップ
                            span 体験談
                        p ネクストページは、優秀なWeb制作者をできるだけ多く世の中に輩出することを、
                            br
                            | 社会貢献の一つと考えており、随時インターン生を受け入れています。
                    .det-btn
                        .btn-inner
                            a(href="#") 詳しく見る
            //-
            section.select.sect-bg#select
                .content-wrap
                    .content-catch
                        h3 
                            |
                            span 選考
                            | について
                        p 選考については下記のページをご覧ください。
                    .det-btn
                        .btn-inner
                            a(href="#") 選考の流れ
            include _includes/_footer.pug
            //-
