<!DOCTYPE html>
html(lang="ja")
    include _includes/_head.pug
        title メッセージ | 株式会社 NEXPAGE
    body#message
        .wrap
            include _includes/_under-header.pug
            //- 
            .lower-visual
                picture.lv-img
                    source(media="(max-width: 768px)" srcset="images/common/under_visual_sp_05.jpg")
                    img(src="images/common/under_visual_05.jpg", alt="業務")
                .lv-tri
                    img(src="images/common/bg_triangle.png", alt="title")
                .lv-gray
                    img(src="images/common/bg_gray.png", alt="title")
                .lv-text
                    h2.lv-tit Message
                    p.lv-cap メッセージ
            //- 
            .pagelink-wrap
                .pagelink
                    p
                        a(href="#staff-slides") スタッフ紹介
                .pagelink
                    p
                        a(href="#member-mess") 社員からのメッセージ
                .pagelink
                    p
                        a(href="#presi-mess") 代表からのメッセージ
            //- 
            section.staff-intro
                h3#message-h3 スタッフ
                    span 紹介
                p.lead ネクストページには個性豊かな社員が毎日楽しく働いています。
                .staff-slides
                    ul.slider#message-slider
                        li.slide
                            p.list-img
                                img(src="images/message/staff_slider_01.jpg", alt="keikun",width="333px")
                            .list-group
                                h4 西川 桂似
                                    br
                                    |
                                    span Nishikawa Kei
                                p.catch 神戸生まれ、神戸育ち、神戸在住。
                                p.w-position デザイナー / フロントエンドエンジニア
                                p.deco
                                    img(src="images/common/shape_deco.svg")
                        li.slide
                            p.list-img
                                img(src="images/message/staff_slider_02.jpg", alt="keikun",width="333px")
                            .list-group
                                h4 藤中 元博
                                    br
                                    |
                                    span Fujinaka Motohiro
                                p.catch ネットカフェでアルバイトしたことがきっかけでWeb業界に。
                                p.w-position 代表取締役
                                p.deco
                                    img(src="images/common/shape_deco.svg")
                        li.slide
                            p.list-img
                                img(src="images/message/staff_slider_03.jpg", alt="keikun",width="333px")
                            .list-group
                                h4 田村 亘
                                    br
                                    |
                                    span Tamura Wataru
                                p.catch 俺が田村だ。
                                    | 大柄な体で泥臭くやっているんだ！
                                p.w-position ディレクター
                                p.deco
                                    img(src="images/common/shape_deco.svg")
                        li.slide
                            p.list-img
                                img(src="images/message/staff_slider_04.jpg", alt="keikun",width="333px")
                            .list-group
                                h4 藤木 朋代
                                    br
                                    |
                                    span Fujiki Tomoyo
                                p.catch ネクストページ初のママディレクター！
                                p.w-position ディレクター
                                p.deco
                                    img(src="images/common/shape_deco.svg")
                        li.slide
                            p.list-img
                                img(src="images/message/staff_slider_05.jpg", alt="keikun",width="333px")
                            .list-group
                                h4 谷 誠
                                    br
                                    |
                                    span Tani Makoto
                                p.catch 神戸事務所と連携しながら東京事務所を大きくしていくことが目標。
                                p.w-position ディレクター / エンジニア
                                p.deco
                                    img(src="images/common/shape_deco.svg")
                        li.slide
                            p.list-img
                                img(src="images/message/staff_slider_06.jpg", alt="keikun",width="333px")
                            .list-group
                                h4 金澤 優
                                    br
                                    |
                                    span Kanazawa Yu
                                p.catch お客様のご要望に精一杯答えたいです。「つくる」がたのしい！
                                p.w-position ディレクター
                                p.deco
                                    img(src="images/common/shape_deco.svg")
                        li.slide
                            p.list-img
                                img(src="images/message/staff_slider_07.jpg", alt="keikun",width="333px")
                            .list-group
                                h4 やまもっちゃん
                                    br
                                    |
                                    span Yamamottyan
                                p.catch 営業に特化してきたディレクター。
                                p.w-position デザイナー / フロントエンドエンジニア
                                p.deco
                                    img(src="images/common/shape_deco.svg")
                        li.slide
                            p.list-img
                                img(src="images/message/staff_slider_08.jpg", alt="keikun",width="333px")
                            .list-group
                                h4 青田 真澄
                                    br
                                    |
                                    span Aota Masumi
                                p.catch めがねが私のアイデンティティー
                                p.w-position ディレクター
                                p.deco
                                    img(src="images/common/shape_deco.svg")
            //- 
            section.sect-bg.members-mess#member-mess
                h3#message-h3
                    span 社員
                    | からのメッセージ
                .content-wrap.message-wrap
                    p.new-employee 今年入った新入社員！
                    img.message-tri(src="images/message/tri-message.png", alt="",width="45px",height="45px")
                    .member-col#member_01
                        .member-face
                            img(src="images/message/message_member01.png", alt="staff",width="235px")
                        .member-pro
                            h4 MEMBER 01
                            p.member-job
                                small Engineer / エンジニア
                            p.staff-name 梅澤 快斗
                            .member-text
                                strong とても、働きやすい環境です。
                                p 弊社は想像性豊かなクリエイティブかつフレキシブルな会社です。自分はエンジニアとしてお仕事をさせていた
                                    | だいております。高校からwebの知識をほとんど知らない状態で色々ご縁があって弊社でエンジニアをしている次第です
                                    | が、駆け出しである自分に対しても暖かく迎えてくれたみなさんには感謝でいっぱいで、これから入社、または
                                    | エントリーされる方々も遠慮なくしていただけるとても親交深い会社です。みなさんも私たちと一緒に働きましょう！楽しいですよ♫
                .content-wrap.message-wrap
                    img.message-tri(src="images/message/tri-message.png", alt="",width="45px",height="45px")
                    .member-col#member_01
                        .member-face
                            img(src="images/message/message_member02.png", alt="staff",width="235px")
                        .member-pro
                            h4 MEMBER 02
                            p.member-job
                                small Director / ディレクター
                            p.staff-name ななえ
                            .member-text
                                strong 自分らしさを出せる場所！
                                p 趣味は、ライブや舞台を観ることです。
                                    | ライブ会場やイベント会場、舞台劇場の空気がとても好きです。
                                    | 平日はお仕事を頑張って、休日は推しに会いに行くことが生きがいです。
                                    | お仕事も、推し事も全力で取り組みたいと思います。
                .content-wrap.message-wrap
                    img.message-tri(src="images/message/tri-message.png", alt="",width="45px",height="45px")
                    .member-col#member_01
                        .member-face
                            img(src="images/message/message_member03.png", alt="staff",width="235px")
                        .member-pro
                            h4 MEMBER 03
                            p.member-job
                                small Engineer / エンジニア
                            p.staff-name 岸上
                            .member-text
                                strong わからないところも先輩が丁寧に教えてくれます！
                                p 弊社では、入社すると働く席が先輩の隣になります。そこでわからないところはマンツーマンで
                                    | 教えてくれるので経験がなくても大丈夫です。未経験でも経験を積んでバリバリに今は仕事を
                                    | こなしている社員もたくさんいます！
                    //- 
                #int-btn
                    .btn-inner
                        a(href="/question.html") インタビューページへ
            //- 
            section.sect-bg.presi-mess#presi-mess
                .content-wrap
                    .content-catch
                        h3
                            span 代表
                            | からのメッセージ
                    .presi-img
                        img(src="images/message/staff-message.jpg", alt="president",width="940px")
                    .presi-message
                        img(src="images/top/h2-concept-deco@2x.png", alt="deco",width="73px")
                        h4 会社は夢をかなえる場所であって欲しい。
                        p.pre-q あなたにとっての幸せな生き方とは？
                        p.pre-mess-inner 私がもしその質問をされても、明確に答えることができません。価値観は日々変化していくし、すごく楽しいことをしていても、毎日同じことをしてると、すぐに飽きてしまうからです。ただ、前提条件としてなら挙げることができます。それは重要な順に、健康な体、生活できるお金、共に生きるパートナー、信頼できる仲間、社会に必要とされることです。幸せな生き方は人それぞれだと思います。ただ、この前提条件は、それほど変わらないのではないでしょうか。日本にはたくさん会社があって、神戸だけでも何万もの会社があります。どの会社を選んでも、その人が幸せであればいいのです。ネクストページは地方都市の小さな会社です。それでも、先に挙げた前提条件を適えられる、あたりまえの会社を目指しています。
            //- 
            include _includes/_footer.pug
            //- 
