<!DOCTYPE html>
html(lang="ja")
    include _includes/_head.pug
        title 募集要項 | 株式会社 NEXPAGE
    body#repuire
        .wrap
            include _includes/_under-header.pug
            //- 
            .lower-visual
                picture.lv-img
                    source(media="(max-width: 768px)" srcset="images/common/under_visual_sp.jpg")
                    img(src="images/work/work_hero.jpg", alt="業務")
                .lv-tri
                    img(src="images/common/bg_triangle.png", alt="title")
                .lv-gray
                    img(src="images/common/bg_gray.png", alt="title")
                .lv-text
                    h2.lv-tit Job
                        br
                        | description
                    p.lv-cap 募集要項
            //- 
            .pagelink-wrap
                .pagelink
                    p
                        a(href="#de-flow") 選考フロー
                .pagelink
                    p
                        a(href="#de-content") 募集要項
                .pagelink
                    p
                        a(href="#de-skill") スキル等
            //- 
            section.sect-bg#de-flow
                .content-wrap
                    .content-catch
                        h3
                            span 選考
                            | フロー
                    .flow-list
                        ul
                            li 
                                img(src="images/common/flow_01.png", alt="flow",width="169px")
                            li
                                img(src="images/common/flow_02.png", alt="flow",width="169px")
                            li
                                img(src="images/common/flow_03.png", alt="flow",width="169px")
                            li
                                img(src="images/common/flow_04.png", alt="flow",width="169px")
                    table.comp-table
                        tr
                            th 会社説明会・1次選考
                            td
                                p 筆記試験・グループワーク
                                p デザイナー希望者のみポートフォリオをご提出ください（後日郵送でも可）
                                p
                                    small ※デザイナー希望以外の方でも、作品があればお持ちください。
                                p
                                p 東京勤務希望の方は、神戸・東京どちらでもご参加いただけます
                                p
                                    small ※神戸・京都勤務希望の方は、神戸にてご参加をお願いいたします。
                        tr
                            th 2次選考
                            td
                                p 集団面接（2～3名）/ OAスキルテスト /
                                | プログラムスキルテスト（エンジニア希望でプログラム経験のある方）
                        tr
                            th 採用食事会
                            td 弊社スタッフとの夕食会
                        tr
                            th 3次選考
                            td 個別面接 / 適性テスト（筆記）
            //- 
            section.sect-bg#de-content
                .content-wrap
                    .content-catch
                        h3
                            span 募集
                            | 要項
                    table.comp-table
                        tr
                            th 採用対象
                            td 2021年度新卒生（大学院生 / 大学生 / 短大生 / 専門学校生）
                        tr
                            th 給与
                            td
                                p 【神戸・京都】
                                p 月給204,789円(基本給151,520円＋みなし残業手当53,269円)
                                small ※月45時間分の固定残業代含む／超過分は別途支給
                                p 
                                p 【東京】
                                p 月給215,601円(基本給159,520円＋みなし残業手当56,081円)
                                p ※月45時間分の固定残業代含む／超過分は別途支給
                        tr
                            th 勤務形態
                            td 正社員
                        tr
                            th 勤務時間
                            td 10:00~19:00（休憩1時間）
                        tr
                            th 勤務地
                            td 神戸市中央区 / 東京都中央区 / 京都市中京区
                        tr
                            th 休日
                            td 
                                p 週休2日制
                                | 土・日・祝日・夏季、冬季（年間休日125日以上）
                        tr
                            th 福利厚生
                            td
                                p 社会保険 / 健康保険 / 退職金 /
                                p 奨学金返済補助（毎月5,000円を上限として、毎月支払額の3分の2まで。
                                p 新卒採用3年目まで支給。) /
                                p 家賃補助（神戸：1年目 月10,000円・2年目 月5,000円
                                p 東京：1年目 月15,000円・2年目 月10,000円
                                p ※1人暮らしで通勤定期代が月10,000円以下の場合に限る。新卒採用2年目まで支給）
                        tr
                            th その他
                            td 3ヵ月間の試用期間があります。
            section.sect-bg#de-skill
                .content-wrap
                    .content-catch
                        h3
                            span スキル
                            | など
                    table.comp-table
                        tr
                            th 求める人物像
                            td
                                p 元気で前向き
                                p パソコンが使える
                                p 頭の回転が速く実務ができる
                                p ネット・IT業界に興味がある
                                p 変化を楽しめる
                //- 
            include _includes/_topback-btn.pug
            include _includes/_footer.pug
            //- 