<!DOCTYPE html>
html(lang="ja")
    include _includes/_head.pug
        title 事業内容 | 株式会社 NEXPAGE
    body#work
        .wrap
            include _includes/_header.pug
            //- 
            .lower-visual
                .lv-img
                    img(src="images/work/work_hero.jpg", alt="業務")
                .lv-tri
                    img(src="images/common/bg_triangle.png", alt="title")
                .lv-text
                    h2.lv-tit Work
                        br
                        | contents
                    p.lv-cap 事業内容
            //- 
            .pagelink-wrap
                .pagelink
                    p
                        a(href="#work-content") 業務内容
                .pagelink
                    p
                        a(href="#service-content") サービス
                .pagelink
                    p
                        a(href="portfolio") 実績紹介
            //- 
            section.work-content#work-content
                .content-catch
                    h3 業務内容
                    p どのお仕事をしていただくかは、選考や研修を通じて決定します。
                table.comp-table
                    tr
                        th 提案営業
                        td 商品紹介、企画提案、価格交渉を行います。既存のお客様へのご訪問が中心です。
                    tr
                        th 制作ディレクション
                        td 進行管理、ヒアリング、現場への指示を行います。
                    tr
                        th マーケティング
                        td アクセスログ解析、広告管理、プロモーション提案を行います。
                    tr
                        th デザイン
                        td デザイン業務を行います。
                    tr
                        th コーディング
                        td HTML、CSS、JavaScriptなどを使用した、コーディング業務を行います。
                    tr
                        th CMS実装
                        td WebRelease 2などのCMSをホームページに実装します。
                    tr
                        th プログラム
                        td PHPなどを用いてプログラミング業務を行います。
                    tr
                        th 動画撮影・編集
                        td 絵コンテ作成、動画撮影・編集を行います。
                    tr
                        th VR撮影・編集
                        td VR写真、動画の撮影・編集、コンテンツの実装を行います。
            section.service-content#service-content
                .content-catch
                    h3 サービス
                    p 私たちは“ものづくり”で目標達成のお手伝いをします。
                table.comp-table
                    tr
                        th web制作
                        td webシステム・webプログラム
                    tr
                        th スマートフォン
                        td HTMLコーディング
                    tr
                        th webRelease 2
                        td CMS実装
                    tr
                        th CMSパッケージ -スイスイウェブ-
                        td SEO
                    tr
                        th インターネット広告
                        td Googleストリートビュー
                    tr
                        th 360°パノラマ
                        td イラストレーション
                    tr
                        th アニメーション制作
                        td 取材・コピーライティング
                    tr
                        th 写真撮影
                        td 動画撮影・編集
                p
                    small ※ 各サービスの詳細については弊社サイトをご覧ください
            //- 
            article.portfolio#portfolio
                h3 実績紹介
                    .port-col
                        figure
                            img(src="", alt="")
                            figcaption
                                a(href="#") サイト名
                        figure
                            img(src="", alt="")
                            figcaption
                                a(href="#") サイト名
                        figure
                            img(src="", alt="")
                            figcaption
                                a(href="#") サイト名
                        figure
                            img(src="", alt="")
                            figcaption
                                a(href="#") サイト名
                        figure
                            img(src="", alt="")
                            figcaption
                                a(href="#") サイト名
                        figure
                            img(src="", alt="")
                            figcaption
                                a(href="#") サイト名
            //- 
            include _includes/_footer.pug
            //- 