// *common


// #header
.header
	+mq()
		width 100%
		padding 0

		.header-logo
			position relative
			margin 0
			padding 0
			z-index 1000
			a
				width 30px
				padding 12px 17px
				background linear-gradient(to bottom,rgba(150,234,16, .9),rgba(79,220,220, .9))


		.global-nav
			width 55px
			height 55px
			margin 0 0 0 20px
			ul
				display none
				position absolute
				top 0
				left 0
				width 100%
				height 100vh
				padding-top 35%
				background rgba(255,255,255, .8)
				transition 0.3s
			#menu
				transition 0.3s
				&.open
					display block

				li
					margin-bottom 40px
					font-weight bold
					text-align center
					&:last-child
						margin-bottom 0
					a
						width 100%
						margin 0
						padding 10px
						font-size 1.5rem
						color #000
				.sns
					display none
			.btn-menu::before, .btn-menu::after
				content ''
				display block
				position absolute
				width 30px
				height 3px
				background #fff
			.btn-menu
				display block
				position relative
				width 100%
				height 100%
				&::before
					top 17px
				&::after
					bottom 17px
				span
					display block
					width 30px
					height 3px
					background #fff
					&.open
						display none

// #under-header
.under-header
	+mq()
		width 100%
		padding 0
		img
			width 100%
		.header-logo
			width 85px
			margin 0 0 0 15px

		.global-nav
			top 0
			right 0
			width 60px
			height 60px
			background linear-gradient(to bottom,rgba(150,234,16, .9),rgba(79,220,220, .9))
			ul
				display none
				flex-wrap wrap
				position fixed
				top 0
				left 0
				width 100%
				height 100vh
				margin 0
				padding-top 35%
				background rgba(255,255,255, .8)
				z-index 1000
			#menu
				transition 0.3s
				&.open
					display block

				.btn
					display none
				li
					margin 0 0 40px 0
					font-weight bold
					text-align center
					&:last-child
						margin-bottom 0
					a
						color #000
				.sns
					display table
					width 50px
					height 50px
					margin 30px auto
					background none
					border solid 1px #99cc00
					border-radius 30px
					a
						display table-cell
						width 20px
						height 20px
						margin 0 auto
						vertical-align middle
						img
							width auto
							height 100%
			.btn-menu::before, .btn-menu::after
				content ''
				display block
				position absolute
				right 0
				left 0
				width 30px
				height 3px
				margin 0 auto
				transforrm translate(-50%, -50%)
				background #fff
			.btn-menu
				display block
				position relative
				width 100%
				height 100%
				z-index 1100
				&::before
					top 20px
				&::after
					bottom 20px
				span
					display block
					width 30px
					height 3px
					margin 0 auto
					background #fff
					&.open
						display none

.sect-bg
	+mq()
		padding 60px 0

// #underPage main-visual
.lower-visual
	+mq()
		.lv-img
			position relative
			width 100%
			z-index 900
		.lv-tri
			display none
		.lv-gray
			display none
		.lv-text
			left 15px
			bottom 30px
			z-index 910
			.lv-tit
				font-size 2rem
				letter-spacing 0.5rem
			.lv-cap
				font-size 1.2rem
				margin 10px -10px 0 0


// #underPage link-area
.pagelink-wrap
	+mq()
		width 100%
		margin 40px 0
		flex-wrap wrap
		.pagelink
			width 60%
			margin-right 0
			&::after
				height 1px
				margin 8px 0 20px
				padding-right 0

			p
				a
					font-size 1.3rem
					&::after
						top 0
						right 5px
						width 4px
						height 4px

// #table
.content-wrap
	+mq()
		.comp-table
			margin 30px 0 20px
			background none
			&::before
					content ''
					display block
					width 100%
					height 1px
					margin-bottom 10px
					background linear-gradient(to right, #00bbcc, #99cc00)
			tr
				display flex
				flex-wrap wrap
				padding 12px 0
				&::after
					content ''
					display block
					width 100%
					height 1px
					margin-top 22px
					background linear-gradient(to right, #00bbcc, #99cc00)
				th
					width 100%
					padding 0
					font-size 1.3rem
				td
					width 100%
					margin-top 10px
					padding 0
					font-size 1.2rem
					line-height 1.3


// *footer
.footer
	+mq()
		.footer-corp
			flex-wrap wrap
			width 100%
			padding 20px 0
			.footer-logo
				display block
				position relative
				width 90%
				margin 10px auto 0
				img
					width 110px
				p
					position absolute
					top 13px
					left auto
					right 0
			.det-btn
				order -1
				margin 0 auto
				width 200px
				height 56px
				border-radius 10px
				.btn-inner
					width 196px
					height 52px
					border-radius 8px
					a
						margin-top -3px

		#copyrights
			font-size 1.2rem

.top-back
	+mq()
		float none
		width 85px
		margin 0 auto
