// *keyframe

@keyframes grad-wave {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideIn-left {
    0% {
        transform: translate(-600px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes slideIn-right {
    0% {
        transform: translate(600px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
