// *intern（インターンシップ）


// #（経験できること・学べること）
#learn
	.sp-br
		display none
	+mq()
		width 100%
		.content-wrap
			width 80%
			padding 20px

			.content-catch
				h3
					margin-top 30px
					font-size 2rem
					line-height 1.2
					.sp-br
						display block
				p
					width 90%
					margin 0 auto
					font-size 1.2rem
					line-height 1.2

			.comp-table
				tr
					padding 15px 0 12px 0


// #detail（募集要項）
#detail
	+mq()
		width 100%
		padding 0
		.content-wrap
			width 80%
			padding 20px
			.content-catch
					h3
						margin-top 30px
						font-size 2rem
						line-height 1.2
						.sp-br
							display block
					p
						width 90%
						margin 0 auto
						font-size 1.2rem
						line-height 1.2


// experience（インターンシップ体験談）
#experience
	+mq()
		width 100%
		padding 60px 0 0
		.content-wrap
			width 80%
			padding 20px 20px 50px
			.content-catch
					h3
						margin-top 30px
						font-size 2rem
						line-height 1.2
						.sp-br
							display block
					p
						margin 0
						font-size 1.2rem
						line-height 1.4
						.pc-br
							display none
			.det-btn
				width 165px
				height 46px
				margin 20px auto 0
				.btn-inner
					width 161px
					height 42px
					a
						margin-top -8px
						font-size 1.2rem


// #select（選考について）
#select
	+mq()
		width 100%
		padding 60px 0 80px
		.content-wrap
			width 80%
			padding 20px 20px 50px
			.content-catch
					h3
						margin-top 30px
						font-size 2rem
						line-height 1.2
						.sp-br
							display block
					p
						margin 0
						font-size 1.2rem
						line-height 1.4
						.pc-br
							display none
			.det-btn
				width 165px
				height 46px
				margin 20px auto 0
				.btn-inner
					width 161px
					height 42px
					a
						margin-top -8px
						font-size 1.2rem
