// *job-description（募集要項）

#require
	+mq()
		#de-flow
			width 100%
			.content-wrap
				width 80%
				padding 20px
				.content-catch
					h3
						margin-top 30px
						font-size 2.2rem
				.flow-list
					width 80%
					margin 30px auto 20px
					ul
						flex-wrap wrap
						li
							flex-basis 45%
							img
								width 100%
								height auto
				.comp-table
					margin 0
		#de-content
			width 100%
			padding 0
			.content-wrap
				width 80%
				padding 20px
				.content-catch
					h3
						margin-top 30px
						font-size 2.2rem
		#de-skill
			width 100%
			padding 60px 0
			.content-wrap
				width 80%
				padding 20px
				.content-catch
					h3
						margin-top 30px
						font-size 2.2rem